{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'todo/logo.jpeg' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img src="{% static 'todo/logo.jpeg' %}" alt="" hspace = 5 height=35>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'credits' %}">Credits</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Todo
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'currenttodos' %}">Current</a></li>
                  <li><a class="dropdown-item" href="{% url 'completedtodos' %}">Completed</a></li>
                  <li><a class="dropdown-item" href="{% url 'createtodo' %}">Create</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
              <ul class="nav justify-content-end">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'userdetails' %}">Signed in as {{ request.user }}</a>
            </li>
            <form class="d-flex" action="{% url 'signoutuser' %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-outline-success" type="submit">Log Out</button>
            </form>
            {% else %}
            <div class="d-flex">
            <li class="nav-item">
            <a href="{% url 'signupuser' %}"><button class="btn btn-outline-success">Sign Up</button></a>
            </li>
            <li class="nav-item">
            <a href="{% url 'signinuser' %}"><button class="btn btn-outline-success">Sign In</button></a>
            </li>
          </div>
            {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
